@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
/*
Author: Stas Baydakov
Author URI: http://thesblab.com
*/
/* =========== Reset START */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

body { line-height: 1; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a:hover, a:active { outline: none; }
a img { border: none; display: block; overflow: hidden; }

input, textarea, select, button { border: 0; margin: 0; padding: 0; font-family: inherit; font-size: inherit; }

.hidden { display: none !important; }

.hidden, .invisible { visibility: hidden !important; }

.hide { display: none; }

::-moz-selection { background: rgba(255, 51, 204, 0.2); color: #ff33cc; text-shadow: none; }

::selection { background: rgba(255, 51, 204, 0.2); color: #ff33cc; text-shadow: none; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner { padding: 0; border: 0; }

.cf:before, .row:before, .wrapper:before, .options:before, .cf:after, .row:after, .wrapper:after, .options:after { content: " "; display: table; }

.cf:after, .row:after, .wrapper:after, .options:after { clear: both; }

.cf, .row, .wrapper, .options { *zoom: 1; }

/* =========== Reset END */
/* =========== Grid START */
.row { margin-left: -32pxpx; margin-left: -2rem; }
.row.gutter_double { margin-left: -64pxpx; margin-left: -4rem; }
.row.gutter_double .col { border-left-width: 64pxpx; border-left-width: 4rem; }
.row.gutter_half { margin-left: -16pxpx; margin-left: -1rem; }
.row.gutter_half .col { border-left-width: 16pxpx; border-left-width: 1rem; }
.row.gutter_quarter { margin-left: -8pxpx; margin-left: -0.5rem; }
.row.gutter_quarter .col { border-left-width: 8pxpx; border-left-width: 0.5rem; }

.col { border: 0px solid rgba(0, 0, 0, 0); position: relative; border-left-width: 32pxpx; border-left-width: 2rem; float: left; -webkit-background-clip: padding-box !important; -moz-background-clip: padding-box !important; -o-background-clip: padding-box !important; background-clip: padding-box !important; }

.span_1 { width: 8.33333%; }

.span_2 { width: 16.66666%; }

.span_3 { width: 25%; }

.span_4 { width: 33.33333%; }

.span_5 { width: 41.66666%; }

.span_6 { width: 50%; }

.span_7 { width: 58.33333%; }

.span_8 { width: 66.66666%; }

.span_9 { width: 75%; }

.span_10 { width: 83.33333%; }

.span_11 { width: 91.66666%; }

.span_12 { width: 100%; margin-left: 0; }

.pull_1 { margin-left: -8.33333%; }

.pull_2 { margin-left: -16.66666%; }

.pull_3 { margin-left: -25%; }

.pull_4 { margin-left: -33.33333%; }

.pull_5 { margin-left: -41.66666%; }

.pull_6 { margin-left: -50%; }

.pull_7 { margin-left: -58.33333%; }

.pull_8 { margin-left: -66.66666%; }

.pull_9 { margin-left: -75%; }

.pull_10 { margin-left: -83.33333%; }

.pull_11 { margin-left: -91.66666%; }

.pull_12 { margin-left: -100%; }

.push_1 { margin-left: 8.33333%; }

.push_2 { margin-left: 16.66666%; }

.push_3 { margin-left: 25%; }

.push_4 { margin-left: 33.33333%; }

.push_5 { margin-left: 41.66666%; }

.push_6 { margin-left: 50%; }

.push_7 { margin-left: 58.33333%; }

.push_8 { margin-left: 66.66666%; }

.push_9 { margin-left: 75%; }

.push_10 { margin-left: 83.33333%; }

.push_11 { margin-left: 91.66666%; }

.push_12 { margin-left: 100%; }

/* -- Breakpoint (.bp1) -- */
@media only screen and (min-width: 30em) { .bp1_span_1 { width: 8.33333%; }
  .bp1_span_2 { width: 16.66666%; }
  .bp1_span_3 { width: 25%; }
  .bp1_span_4 { width: 33.33333%; }
  .bp1_span_5 { width: 41.66666%; }
  .bp1_span_6 { width: 50%; }
  .bp1_span_7 { width: 58.33333%; }
  .bp1_span_8 { width: 66.66666%; }
  .bp1_span_9 { width: 75%; }
  .bp1_span_10 { width: 83.33333%; }
  .bp1_span_11 { width: 91.66666%; }
  .bp1_span_12 { width: 100%; margin-left: 0; } }
/* -- Breakpoint 2 (.bp2) -- */
@media only screen and (min-width: 48em) { .bp2_span_1 { width: 8.33333%; }
  .bp2_span_2 { width: 16.66666%; }
  .bp2_span_3 { width: 25%; }
  .bp2_span_4 { width: 33.33333%; }
  .bp2_span_5 { width: 41.66666%; }
  .bp2_span_6 { width: 50%; }
  .bp2_span_7 { width: 58.33333%; }
  .bp2_span_8 { width: 66.66666%; }
  .bp2_span_9 { width: 75%; }
  .bp2_span_10 { width: 83.33333%; }
  .bp2_span_11 { width: 91.66666%; }
  .bp2_span_12 { width: 100%; margin-left: 0; } }
/* -- Breakpoint 3 (.bp3) -- */
@media only screen and (min-width: 60em) { .bp3_span_1 { width: 8.33333%; }
  .bp3_span_2 { width: 16.66666%; }
  .bp3_span_3 { width: 25%; }
  .bp3_span_4 { width: 33.33333%; }
  .bp3_span_5 { width: 41.66666%; }
  .bp3_span_6 { width: 50%; }
  .bp3_span_7 { width: 58.33333%; }
  .bp3_span_8 { width: 66.66666%; }
  .bp3_span_9 { width: 75%; }
  .bp3_span_10 { width: 83.33333%; }
  .bp3_span_11 { width: 91.66666%; }
  .bp3_span_12 { width: 100%; margin-left: 0; } }
/* =========== Grid END */
/* =========== Typography START */
.left { float: left; }

.right { float: right; }

.text-left, .a-left { text-align: left; }

.text-right, .a-right { text-align: right; }

.text-center, .a-center { text-align: center; }

.nowrap { white-space: nowrap; }

.center { display: inline-block; margin: auto; }

.white { color: white; }

.black { color: #050505; }

.underline { border-bottom: 1px solid; }

h1, h2, h3, h4, h5, h6 { line-height: 1.5em; margin-bottom: 0.25em; font-weight: 700; }
h1.soft, h2.soft, h3.soft, h4.soft, h5.soft, h6.soft { font-weight: 300; color: #858585; }

h1 { font-size: 32px; font-size: 2rem; }

h2 { font-size: 29px; font-size: 1.8rem; }

h3 { font-size: 22px; font-size: 1.4rem; }

h4 { font-size: 20px; font-size: 1.25rem; }

h5 { font-size: 16px; font-size: 1rem; }

h6 { font-size: 16px; font-size: 1rem; }

h1 { font-family: "Hand of Sean", cursive; font-weight: normal; margin: 0.5em 0 1em; }

p { margin-bottom: 1.25em; }
p.lead { font-size: 1.2em; line-height: 1.5em; }

a { color: #ffccf2; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #ff33cc; }
a:active { color: #ff80df; }

small { font-size: 0.85em; color: #858585; }

em { font-style: italic; }

b, strong, .bold { font-weight: bold; }

code, pre { font-family: "courier new", monospace; }

abbr { border-bottom: 1px dotted #858585; }

del { text-decoration: line-through; }

mark { background-color: #ffffb3; }

hr { background-color: transparent; border: solid #bfbfbf; border-width: 1px 0 0; clear: both; margin: 2em 1.25em; }

blockquote { color: #858585; font-family: Georgia, serif; font-size: 1.2em; font-style: italic; line-height: 1.5em; margin-bottom: 1.25em; padding: 0 0 0 2em; position: relative; }
blockquote:before { color: #c4c4c4; content: "\201C"; display: block; font-size: 5em; left: -0.15em; position: absolute; top: 0.25em; }
blockquote cite { color: #5e5e5e; display: block; font-size: 0.85em; }
blockquote cite:before { content: "\2014 \0020"; }

figure { display: inline-block; max-width: 100%; }
figure img { display: block; width: 100%; }
figure figcaption { color: blue; }

ul, ol { margin: 0 0 1.25em 1.5em; }

ul { list-style: disc; }

ol { list-style: decimal; }

ol ol { list-style-type: lower-alpha; }

ol ol ol { list-style-type: lower-roman; }

dl { margin-bottom: 1.25em; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.25em; }
dl.advanced dt { float: left; width: 35%; }
dl.advanced dd { float: left; width: 65%; }

/* =========== Typography END */
/* =========== Layout START */
html { font-size: 16px; }

body { color: #333333; font-family: "Maven Pro", sans-serif; font-weight: 400; line-height: 1.5; background: white; }

.wrapper { min-width: 1040px; max-width: 1280px; margin: auto; position: relative; padding: 0 1em; }

header.site-header { margin-top: 20px; position: relative; }
header.site-header .wrapper { padding: 3em 0; }
header.site-header #logo { width: 300px; height: 76px; margin: 0 auto; background: url('../img/logo.png?1365885970'); text-indent: -9999px; display: block; background-size: 100%; }

#top_nav { position: absolute; top: 0; left: 15px; text-transform: uppercase; background: url('../img/nav_tape-05.jpg?1365885970') center bottom no-repeat; background-size: 100% 20%; min-width: 272px; text-align: center; padding: 3px 0 4px; }
#top_nav a { padding: 6px 2px; margin: 2px 3px; color: #333333; letter-spacing: -1px; line-height: 2em; font-weight: 500; font-size: 13px; font-size: 0.8rem; }
#top_nav a:hover { color: gray; }
#top_nav .top-link-cart { background: url('../img/icons/cart.png?1365885970') left center no-repeat; padding-left: 1.5em; margin: 0 0.5em; }
#top_nav .top-link-cart span { color: #ff33cc; }

#search_box { position: absolute; top: 0; right: 20px; background: url('../img/nav_tape-05.jpg?1365885970') center bottom no-repeat; background-size: 100% 20%; opacity: 0.7; -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; transition: opacity 0.3s linear; }
#search_box:hover, #search_box:focus { opacity: 1; }
#search_box input { font-size: 16px; font-size: 1rem; margin: 5px 35px 5px 20px; outline: none; padding: 0; background: none; border: none; color: #666666; width: auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#search_box button { width: 14px; height: 14px; background: url('../img/icons/search.png?1365885970'); text-indent: -9999px; cursor: pointer; position: absolute; top: 0; right: 0; margin: 8px 12px; padding: 0; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-size: 100%; }
#search_box button:active { top: 1px; }

nav.site-nav { font-family: "Akzidenz Grotesk Ext", Arial, sans-serif; margin-bottom: 1em; }
nav.site-nav .wrapper { background: url('../img/nav_tape-05.jpg?1365885970') center bottom no-repeat; padding-bottom: 1em; background-size: 100%; }
nav.site-nav ul { list-style: none; margin: 0; padding: 0; text-align: center; display: table; table-layout: fixed; width: 100%; }
nav.site-nav ul li { display: table-cell; vertical-align: middle; }
nav.site-nav ul li a { display: block; padding: 0.5em 1em; color: #9b9494; font-size: 16px; font-size: 1rem; font-weight: normal; }
nav.site-nav ul li a:hover { color: #cfc6c6; }
nav.site-nav ul li a.active { color: #ff33cc; }

footer { color: #6f6f6f; font-weight: 400; overflow: auto; margin-top: 2em; clear: both; }
footer .wrapper { border-top: 0.25em solid #f0ece6; padding: 1em; overflow: auto; }

.one_column .content { width: 100%; }

.two_columns_left .content { width: 80%; float: left; min-height: 1em; }
.two_columns_left .sidebar { width: 20%; float: left; min-height: 1em; padding: 1em; }

.two_columns_right .content { width: 85%; float: left; min-height: 1em; padding-right: 2%; }
.two_columns_right .sidebar { width: 15%; float: right; min-height: 1em; }

.three_columns .content { float: left; min-height: 1em; }
.three_columns .sidebar .left { float: left; min-height: 1em; }
.three_columns .sidebar .right { float: right; min-height: 1em; }

/* Tablets */
@media only screen and (max-width: 960px) { html { font-size: 14px; } }
/* Phones */
@media only screen and (max-width: 520px) { html { font-size: 12px; } }
/* Retina */
/* =========== Layout END */
/* =========== Forms START */
input[type=text], input[type=password], input[type=number], input[type=search], input[type=email], input[type=tel], input[type=url], textarea, select { border: 1px solid #bfbfbf; color: #333; font-family: "Maven Pro", sans-serif; line-height: 1.5em; margin: -1px 0.5em 0px 0px; padding: 0.6em; width: 100%; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -ms-border-radius: 0.2em; -o-border-radius: 0.2em; border-radius: 0.2em; -webkit-box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1); -moz-box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1); box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1); -webkit-transition: border 0.1s; -moz-transition: border 0.1s; -o-transition: border 0.1s; transition: border 0.1s; vertical-align: baseline; }
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=url]:focus, textarea:focus, select:focus { border: 1px solid #a6a6a6; outline: 0; color: #333; -webkit-box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3); -moz-box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3); box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3); }

textarea { overflow: auto; resize: vertical; vertical-align: top; display: block; }

form legend { display: block; margin-bottom: 0.25em; font-weight: bold; line-height: 1.5em; font-size: 1.6em; }
form ul { clear: both; list-style: none; margin: 0 0 1.25em 0; }
form ul > li > label { clear: left; cursor: pointer; font-weight: bold; padding-top: 0.55em; text-align: right; }
form ul > li > label:hover { color: #050505; }
form ul > li div { margin-bottom: 0.5em; }
form ul > li div p, form ul > li div small { display: block; margin: 0.6em 0.6em 0.25em 0px; }
form ul > li div ul.checklist { margin: 0.6em 0.6em 0.6em 0px; }
form ul > li div ul.checklist > li { margin: 0.5em 0; }
form ul > li div ul.checklist input { display: inline-block; margin-right: 0.5em; }
form ul > li div ul.checklist label { font-weight: normal; }
form ul > li div ul.checklist label:hover { color: #000; cursor: pointer; }
form ul li.error label { color: #d24226; }
form ul li.error label:hover { color: #662012; }
form ul li.error input { border: 1px solid #d24226; -webkit-box-shadow: 0px 0px 3px #df644c, inset 0 0 0; -moz-box-shadow: 0px 0px 3px #df644c, inset 0 0 0; box-shadow: 0px 0px 3px #df644c, inset 0 0 0; }
form ul li.error input:focus { border: 1px solid #d24226; }
form ul li.error ul.errors { color: #d24226; margin: 0.6em 0.6em 0.6em 0px; }
form ul li.error ul.errors li { margin: 0.5em 0; }

/* ========================= Responsive ================================== */
/* Tablets */
/* Phones */
@media only screen and (max-width: 520px) { form ul li > label { text-align: left; display: block; }
  input[type=text], textarea { width: 100%; } }
/* Retina */
/* =========== Forms END */
/* =========== Tables */
table { border: 1px solid #fff5fc; border-collapse: separate; *border-collapse: collapse; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -ms-border-radius: 0.2em; -o-border-radius: 0.2em; border-radius: 0.2em; border-spacing: 0; margin-bottom: 1.25em; width: 100%; }
table td { padding: 0.5em; }
table thead th { font-weight: bold; padding: 0.5em; text-align: left; vertical-align: middle; background: #ffb3ec; }
table thead th:first-child { -webkit-border-radius: 0.25em 0 0 0; -moz-border-radius: 0.25em 0 0 0; -ms-border-radius: 0.25em 0 0 0; -o-border-radius: 0.25em 0 0 0; border-radius: 0.25em 0 0 0; }
table thead th:last-child { -webkit-border-radius: 0 0.25em 0 0; -moz-border-radius: 0 0.25em 0 0; -ms-border-radius: 0 0.25em 0 0; -o-border-radius: 0 0.25em 0 0; border-radius: 0 0.25em 0 0; }
table tbody td { border-left: 1px solid #fff5fc; border-top: 1px solid #fff5fc; }
table tbody td:first-child { border-left: 0; }
table tbody td strong { display: block; }
table tfoot td { background: #ffe5f9; }
table tfoot td:first-child { -webkit-border-radius: 0 0 0 0.25em; -moz-border-radius: 0 0 0 0.25em; -ms-border-radius: 0 0 0 0.25em; -o-border-radius: 0 0 0 0.25em; border-radius: 0 0 0 0.25em; }
table tfoot td:last-child { -webkit-border-radius: 0 0 0.25em 0; -moz-border-radius: 0 0 0.25em 0; -ms-border-radius: 0 0 0.25em 0; -o-border-radius: 0 0 0.25em 0; border-radius: 0 0 0.25em 0; }

/* =========== Label */
span.label { color: white; font-size: 0.85em; padding: 0.1em 0.3em; font-weight: bold; border: none; -webkit-border-radius: 0.4em; -moz-border-radius: 0.4em; -ms-border-radius: 0.4em; -o-border-radius: 0.4em; border-radius: 0.4em; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b6b6b), color-stop(100%, #050505)); background-image: -webkit-linear-gradient(top, #6b6b6b, #050505); background-image: -moz-linear-gradient(top, #6b6b6b, #050505); background-image: -o-linear-gradient(top, #6b6b6b, #050505); background-image: linear-gradient(top, #6b6b6b, #050505); }

/* =========== Buttons */
div.buttons, ul.buttons { margin: 0 0 1.25em 0; overflow: hidden; *zoom: 1; }
div.buttons li, ul.buttons li { float: left; }
div.buttons li a.button, div.buttons li a.btn, div.buttons li input[type="submit"], div.buttons li button, ul.buttons li a.button, ul.buttons li a.btn, ul.buttons li input[type="submit"], ul.buttons li button { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; border-left-width: 0; }
div.buttons li:first-child a.button, div.buttons li:first-child a.btn, div.buttons li:first-child input[type="submit"], div.buttons li:first-child button, ul.buttons li:first-child a.button, ul.buttons li:first-child a.btn, ul.buttons li:first-child input[type="submit"], ul.buttons li:first-child button { -webkit-border-radius: 0.2em 0 0 0.2em; -moz-border-radius: 0.2em 0 0 0.2em; -ms-border-radius: 0.2em 0 0 0.2em; -o-border-radius: 0.2em 0 0 0.2em; border-radius: 0.2em 0 0 0.2em; border-left-width: 1px; }
div.buttons li:last-child a.button, div.buttons li:last-child a.btn, div.buttons li:last-child input[type="submit"], div.buttons li:last-child button, ul.buttons li:last-child a.button, ul.buttons li:last-child a.btn, ul.buttons li:last-child input[type="submit"], ul.buttons li:last-child button { -webkit-border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -ms-border-radius: 0 0.2em 0.2em 0; -o-border-radius: 0 0.2em 0.2em 0; border-radius: 0 0.2em 0.2em 0; }

.dropdown-menu { display: none; }

a.button, a.btn, input[type="submit"], button { border: 0; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -ms-border-radius: 0.2em; -o-border-radius: 0.2em; border-radius: 0.2em; -webkit-box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3); -moz-box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3); box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3); color: white; cursor: pointer; display: inline-block; font-size: 16px; font-size: 1rem; font-weight: bold; background: url('../img/button.png?1365885970') top center no-repeat; background-size: 100% 200%; line-height: 1.5em; margin: 0; padding: 1em 1.5em; text-decoration: none; text-transform: uppercase; text-shadow: 1px 1px 0 rgba(5, 5, 5, 0.5); -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; vertical-align: baseline; }
a.button:hover, a.btn:hover, input[type="submit"]:hover, button:hover { color: #333333; text-shadow: 0 0 0; }
a.button:active, a.button:focus, a.btn:active, a.btn:focus, input[type="submit"]:active, input[type="submit"]:focus, button:active, button:focus { background-position: center bottom; }
a.button.contrast, a.btn.contrast, input[type="submit"].contrast, button.contrast { border-color: #050505; background-size: 100%; -webkit-transition: all 150ms; -moz-transition: all 150ms; -o-transition: all 150ms; transition: all 150ms; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b6b6b), color-stop(100%, #050505)); background-image: -webkit-linear-gradient(top, #6b6b6b, #050505); background-image: -moz-linear-gradient(top, #6b6b6b, #050505); background-image: -o-linear-gradient(top, #6b6b6b, #050505); background-image: linear-gradient(top, #6b6b6b, #050505); }
a.button.contrast:hover, a.btn.contrast:hover, input[type="submit"].contrast:hover, button.contrast:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #858585), color-stop(100%, #050505)); background-image: -webkit-linear-gradient(top, #858585, #050505); background-image: -moz-linear-gradient(top, #858585, #050505); background-image: -o-linear-gradient(top, #858585, #050505); background-image: linear-gradient(top, #858585, #050505); }
a.button.contrast:active, a.button.contrast:focus, a.btn.contrast:active, a.btn.contrast:focus, input[type="submit"].contrast:active, input[type="submit"].contrast:focus, button.contrast:active, button.contrast:focus { background: #383838; color: #bfbfbf; }
a.button.soft, a.btn.soft, input[type="submit"].soft, button.soft { border-color: #a6a6a6; color: #525252; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); text-shadow: 1px 1px 0px white; background-size: 100%; -webkit-transition: all 150ms; -moz-transition: all 150ms; -o-transition: all 150ms; transition: all 150ms; }
a.button.soft:hover, a.btn.soft:hover, input[type="submit"].soft:hover, button.soft:hover { border-color: #8c8c8c; color: #050505; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee); background-image: -moz-linear-gradient(top, #ffffff, #eeeeee); background-image: -o-linear-gradient(top, #ffffff, #eeeeee); background-image: linear-gradient(top, #ffffff, #eeeeee); }
a.button.soft:active, a.button.soft:focus, a.btn.soft:active, a.btn.soft:focus, input[type="submit"].soft:active, input[type="submit"].soft:focus, button.soft:active, button.soft:focus { background: #bfbfbf; border-color: #6b6b6b; -webkit-box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e; -moz-box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e; box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e; color: #5e5e5e; text-shadow: 0 0 0; }
a.button.success, a.btn.success, input[type="submit"].success, button.success { border-color: #2d5011; background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da423), color-stop(100%, #457a1a)); background-image: -webkit-linear-gradient(top, #5da423, #457a1a); background-image: -moz-linear-gradient(top, #5da423, #457a1a); background-image: -o-linear-gradient(top, #5da423, #457a1a); background-image: linear-gradient(top, #5da423, #457a1a); }
a.button.success:hover, a.btn.success:hover, input[type="submit"].success:hover, button.success:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75ce2c), color-stop(100%, #457a1a)); background-image: -webkit-linear-gradient(top, #75ce2c, #457a1a); background-image: -moz-linear-gradient(top, #75ce2c, #457a1a); background-image: -o-linear-gradient(top, #75ce2c, #457a1a); background-image: linear-gradient(top, #75ce2c, #457a1a); }
a.button.success:active, a.button.success:focus, a.btn.success:active, a.btn.success:focus, input[type="submit"].success:active, input[type="submit"].success:focus, button.success:active, button.success:focus { background: #396516; }
a.button.alert, a.btn.alert, input[type="submit"].alert, button.alert { border-color: #7c2716; background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d24226), color-stop(100%, #a7341e)); background-image: -webkit-linear-gradient(top, #d24226, #a7341e); background-image: -moz-linear-gradient(top, #d24226, #a7341e); background-image: -o-linear-gradient(top, #d24226, #a7341e); background-image: linear-gradient(top, #d24226, #a7341e); }
a.button.alert:hover, a.btn.alert:hover, input[type="submit"].alert:hover, button.alert:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df644c), color-stop(100%, #a7341e)); background-image: -webkit-linear-gradient(top, #df644c, #a7341e); background-image: -moz-linear-gradient(top, #df644c, #a7341e); background-image: -o-linear-gradient(top, #df644c, #a7341e); background-image: linear-gradient(top, #df644c, #a7341e); }
a.button.alert:active, a.button.alert:focus, a.btn.alert:active, a.btn.alert:focus, input[type="submit"].alert:active, input[type="submit"].alert:focus, button.alert:active, button.alert:focus { background: #912e1a; }
a.button.large, a.btn.large, input[type="submit"].large, button.large { font-size: 20px; font-size: 1.25rem; padding: 1em 3em; }
a.button.small, a.btn.small, input[type="submit"].small, button.small { font-size: 1em; padding: 0.5em 1em; }
a.button.tiny, a.btn.tiny, input[type="submit"].tiny, button.tiny { font-size: 0.85em; }

/* =========== Icons */
.ico { display: inline-block; float: left; height: 16px; margin: 0.1em 0.4em 0 0; overflow: hidden; text-indent: -9999px; width: 16px; }
.ico.icon { background: url("../images/icons.png") 0px 0px no-repeat; }

/* =========== Messages */
ul.messages { list-style: none; margin: 0 0 1.25em 0; }
ul.messages li.success-msg { border-color: #5da423; color: #5da423; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4f1bc), color-stop(100%, #c6eca7)); background-image: -webkit-linear-gradient(top, #d4f1bc, #c6eca7); background-image: -moz-linear-gradient(top, #d4f1bc, #c6eca7); background-image: -o-linear-gradient(top, #d4f1bc, #c6eca7); background-image: linear-gradient(top, #d4f1bc, #c6eca7); }
ul.messages li.error-msg, ul.messages li.warning-msg, ul.messages li.notice-msg { border-color: #d24226; color: #d24226; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fae7e3), color-stop(100%, #f6d4ce)); background-image: -webkit-linear-gradient(top, #fae7e3, #f6d4ce); background-image: -moz-linear-gradient(top, #fae7e3, #f6d4ce); background-image: -o-linear-gradient(top, #fae7e3, #f6d4ce); background-image: linear-gradient(top, #fae7e3, #f6d4ce); }
ul.messages li ul li { border: 1px solid; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; border-radius: 0.3em; -webkit-box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4); -moz-box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4); box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4); font-weight: bold; margin: 0.25em 0; line-height: 1.5em; font-size: 1.1em; display: block; vertical-align: baseline; padding: 0.25em 1em 0.35em 1em; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
ul.messages.success { border-color: #2d5011; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da423), color-stop(100%, #457a1a)); background-image: -webkit-linear-gradient(top, #5da423, #457a1a); background-image: -moz-linear-gradient(top, #5da423, #457a1a); background-image: -o-linear-gradient(top, #5da423, #457a1a); background-image: linear-gradient(top, #5da423, #457a1a); }
ul.messages.success:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75ce2c), color-stop(100%, #457a1a)); background-image: -webkit-linear-gradient(top, #75ce2c, #457a1a); background-image: -moz-linear-gradient(top, #75ce2c, #457a1a); background-image: -o-linear-gradient(top, #75ce2c, #457a1a); background-image: linear-gradient(top, #75ce2c, #457a1a); }
ul.messages.success:active, ul.messages.success:focus { background: #396516; }
ul.messages.notice { border-color: #7c2716; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d24226), color-stop(100%, #a7341e)); background-image: -webkit-linear-gradient(top, #d24226, #a7341e); background-image: -moz-linear-gradient(top, #d24226, #a7341e); background-image: -o-linear-gradient(top, #d24226, #a7341e); background-image: linear-gradient(top, #d24226, #a7341e); }
ul.messages.notice:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df644c), color-stop(100%, #a7341e)); background-image: -webkit-linear-gradient(top, #df644c, #a7341e); background-image: -moz-linear-gradient(top, #df644c, #a7341e); background-image: -o-linear-gradient(top, #df644c, #a7341e); background-image: linear-gradient(top, #df644c, #a7341e); }
ul.messages.notice:active, ul.messages.notice:focus { background: #912e1a; }

/* =========== Popover */
div.modal { left: 0; overflow-y: scroll; position: fixed; top: 0; width: 100%; z-index: 1000; /* Overlay */ }
div.modal > div { background: white; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; border-radius: 0.3em; -webkit-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6); -moz-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6); box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6); margin: 40px auto; max-width: 800px; padding: 1.5em; position: relative; top: 0; }
div.modal:after { background: rgba(5, 5, 5, 0.9); content: " "; height: 100%; opacity: 0.9; position: fixed; top: 0; width: 100%; z-index: -1; }

/* =========== Tabs */
ul.tabs { border-bottom: 1px solid #bfbfbf; margin: 0 0 1.25em 0; }
ul.tabs li { display: inline-block; margin-bottom: -2px; position: relative; }
ul.tabs a { border: 1px solid transparent; color: #666; display: block; padding: 0.75em 1em; text-decoration: none; }
ul.tabs a:hover { border-left: 1px solid #bfbfbf; border-top: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; border-bottom: 1px solid transparent; -webkit-border-radius: 0.3em 0.3em 0px 0px; -moz-border-radius: 0.3em 0.3em 0px 0px; -ms-border-radius: 0.3em 0.3em 0px 0px; -o-border-radius: 0.3em 0.3em 0px 0px; border-radius: 0.3em 0.3em 0px 0px; color: #333; }
ul.tabs li.selected a { background: white; border: 1px solid #bfbfbf; border-bottom-color: white; -webkit-border-radius: 0.3em 0.3em 0 0; -moz-border-radius: 0.3em 0.3em 0 0; -ms-border-radius: 0.3em 0.3em 0 0; -o-border-radius: 0.3em 0.3em 0 0; border-radius: 0.3em 0.3em 0 0; color: #333; font-weight: bold; padding: 0.7em 1em 0.75em 1em; }

ul.steps { border-bottom: 1px solid #bfbfbf; margin: 0 0 1.25em 0; }
ul.steps li { display: inline-block; }
ul.steps a { color: #666; display: block; padding: 0.75em 1em; text-decoration: none; }
ul.steps li.completed a { color: #333333; }
ul.steps li:hover a { color: #333; }
ul.steps li.selected a { color: #333; font-weight: bold; }

/* =========== Panels */
.panel { background: #f2f2f2; border: 1px solid #d9d9d9; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -ms-border-radius: 0.2em; -o-border-radius: 0.2em; border-radius: 0.2em; padding: 1em; margin-bottom: 1.25em; }
.panel.callout { background: #ff33cc; border-color: #cc0099; color: white; text-shadow: 1px 1px 0 rgba(5, 5, 5, 0.5); }

/* =========== Print */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 2cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/** BxSlider v4.0 - Fully loaded, responsive content slider http://bxslider.com  Written by: Steven Wanderski, 2012 http://stevenwanderski.com (while drinking Belgian ales and listening to jazz)  CEO and founder of bxCreative, LTD http://bxcreative.com */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper { position: relative; margin: 0 3em 6em; padding: 0; *zoom: 1; }

.bx-wrapper img { width: 100%; display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading { min-height: 50px; background: url('../img/bx_loader.gif?1365885970') center center no-repeat white; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a { background: #b3b3b3; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #ff33cc; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev { left: -2.5em; background: url('../img/arrows.png?1365885970') no-repeat 0 0; }

.bx-wrapper .bx-next { right: -2.5em; background: url('../img/arrows.png?1365885970') no-repeat -28px 0; }

.bx-wrapper .bx-prev:hover { opacity: 1; }

.bx-wrapper .bx-next:hover { opacity: 1; }

.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 28px; height: 32px; text-indent: -9999px; opacity: 0.75; z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls { padding-top: 1em; }

.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url('../img/controls.png?1365885970') -86px -11px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url('../img/controls.png?1365885970') -86px -44px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666\9; background: rgba(80, 80, 80, 0.75); width: 100%; }

.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

@font-face { font-family: 'Akzidenz Grotesk Ext'; src: url('../fonts/akzidenzgrotesk-extended.eot'); src: url('../fonts/akzidenzgrotesk-extended.eot?#iefix') format("embedded-opentype"), url('../fonts/akzidenzgrotesk-extended.woff') format("woff"), url('../fonts/akzidenzgrotesk-extended.ttf') format("truetype"), url('../fonts/akzidenzgrotesk-extended.svg#akzidenz-grotesk_bq_extendeRg') format("svg"); font-weight: normal; font-style: normal; }

/* @font-face { font-family: 'Akzidenz Grotesk Ext'; src: font-url('akzidenzgrotesk-extendeditalic.eot'); src: font-url('akzidenzgrotesk-extendeditalic.eot?#iefix') format('embedded-opentype'), font-url('akzidenzgrotesk-extendeditalic.woff') format('woff'), font-url('akzidenzgrotesk-extendeditalic.ttf') format('truetype'), font-url('akzidenzgrotesk-extendeditalic.svg#akzidenz-grotesk_bq_extendeIt') format('svg'); font-weight: normal; font-style: italic;
} */
@font-face { font-family: 'Hand of Sean'; src: url('../fonts/handsean-webfont.eot'); src: url('../fonts/handsean-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/handsean-webfont.woff') format("woff"), url('../fonts/handsean-webfont.ttf') format("truetype"), url('../fonts/handsean-webfont.svg#hand_of_seanregular') format("svg"); font-weight: normal; font-style: normal; }

.fluid { width: 100%; height: auto; display: block; }

.hidden { visibility: hidden; }

.hide { display: none !important; }

a { color: #a0a0a0; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #bbb; }

h2 { margin-top: 0; }

.padding { padding: 20px 30px; overflow: auto; }

.simple { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

ul, ol { list-style: none; margin: 0; }
ul li, ol li { list-style-image: none; list-style-type: none; margin-left: 0; }

.v-fix { display: inline-block; *zoom: 1; *display: inline; }

/* -- Typography -- */
input, select, textarea { color: #333333; text-shadow: none; font-weight: normal; font-size: 18px; font-size: 1.125rem; }

.customSelect { background: url('../img/icons/arrow-down.png?1365885970') no-repeat 90% 50%; }

.social li { float: left; margin-right: 0.5em; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; -ms-border-radius: 0.25em; -o-border-radius: 0.25em; border-radius: 0.25em; }
.social a { display: block; height: 2em; width: 2em; text-indent: -9999px; }
.social #facebook a { background: #3b5998 url('../img/social_facebook.png?1365885970') 50% 50% no-repeat; }
.social #twitter a { background: #0097c5 url('../img/social_twitter.png?1365885970') 50% 50% no-repeat; }
.social #instagram a { background: #d02525 url('../img/social_instagram.png?1365885970') 50% 50% no-repeat; }
.social #pinterest a { background: #bd2031 url('../img/social_pinterest.png?1365885970') 50% 50% no-repeat; }

.block .block-title { font-size: 24px; font-size: 1.5rem; margin: 0 0 0.5em; }
.block .block-content li.active, .block .block-content li.current { color: #ff33cc; }
.block .block-content li.active a, .block .block-content li.current a { color: #ff33cc; }
.block .block-content li.active a:hover, .block .block-content li.current a:hover { color: #ff33cc; }

.sidebar .block-layered-nav { text-align: right; margin-right: 4em; text-transform: uppercase; line-height: 2; font-size: 14px; font-size: 0.875rem; }
.sidebar .block-layered-nav a:hover { color: #ff33cc; }
.sidebar .block-layered-nav .subcategory .subcategory { display: block; font-size: 0.875em; margin: 0 1em 1em; }

.page-title { margin-bottom: 0.5em; }

.category-title { position: absolute; z-index: -1; opacity: 0; color: white; }

.category-image img { width: 100%; height: auto; }

.breadcrumbs { padding: 0 1em; border-bottom: 1px dotted #ececec; margin: 0 -0.25em 1em; color: #76837f; font-size: 12px; font-size: 0.75rem; }
.breadcrumbs a { color: #c0c3c2; }
.breadcrumbs a:hover { color: #a6aaa9; }
.breadcrumbs li { float: left; }
.breadcrumbs li span { margin-right: 0.5em; }

.toolbar { clear: both; line-height: 3em; margin: 0 0 1em; background: url('../img/side-bar2.png?1365885970'); -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; -ms-border-radius: 0.25em; -o-border-radius: 0.25em; border-radius: 0.25em; text-transform: uppercase; color: #333333; font-size: 12px; font-size: 0.75rem; }
.toolbar select { padding: 0 1.5em 0 0; width: auto; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; background: url('../img/icons/dark/arrow-down-sm.png?1365885970') 95% 50% no-repeat; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #333333; font-size: 1em; font-weight: 700; }
.toolbar > div { float: left; text-align: center; }
.toolbar .amount { width: 25%; }
.toolbar .limiter { width: 20%; }
.toolbar .pager { width: 30%; }
.toolbar .pager > * { display: inline-block; vertical-align: middle; }
.toolbar .pager li { float: left; padding: 0 0.5em; }
.toolbar .pager .current { font-weight: bold; }
.toolbar .sorter { float: right; width: 20%; }

.buttons-set .back-link { float: left; }
.buttons-set button { float: right; }

.btn-proceed-checkout { float: right; }

.arrow { width: 16px; height: 16px; text-indent: -9999px; display: inline-block; *zoom: 1; *display: inline; background-position: 50% 50%; background-repeat: no-repeat; }
.arrow.asc { background-image: url('../img/icons/dark/arrow-up.png?1365885970'); }
.arrow.desc { background-image: url('../img/icons/dark/arrow-down.png?1365885970'); }

.loading:after, #checkoutSteps .section .please-wait:after { content: " "; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.8); background-image: url('../img/loading-white.gif?1365885970'); background-position: 50% 50%; background-repeat: no-repeat; }
.loading.white:after, #checkoutSteps .section .white.please-wait:after { background-color: rgba(255, 255, 255, 0.8); background-image: url('../img/loading-white.gif?1365885970'); }
.loading.black:after, #checkoutSteps .section .black.please-wait:after { background-color: rgba(5, 5, 5, 0.8); background-image: url('../img/loading-black.gif?1365885970'); }

.category-products .bx-viewport:before, .category-products .bx-viewport:after { content: " "; position: absolute; z-index: 10; top: 0; bottom: 0; width: 1em; }
.category-products .bx-viewport:before { left: 0; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); }
.category-products .bx-viewport:after { right: 0; background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); background-image: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); }

.product .price, .products-grid .price { text-transform: uppercase; font-weight: 700; font-size: 13px; font-size: 0.825rem; }
.product .price:before, .products-grid .price:before { content: 'our '; }
.product .price.regular, .products-grid .price.regular { text-transform: lowercase; color: #a6a6a6; font-size: 11px; font-size: 0.675rem; }
.product .price.regular:before, .products-grid .price.regular:before { content: 'retail '; }
.product .price.special:before, .products-grid .price.special:before { content: 'our '; }

.products-grid { clear: both; }
.products-grid .item { float: left; width: 25%; padding: 0.25em 0.25em 1.25em; text-align: center; }
.products-grid .item a { display: inline-block; }
.products-grid .item:nth-child(4n+1) { clear: left; }
.products-grid .item img { display: block; margin: auto; height: auto; width: 100%; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; -ms-border-radius: 0.25em; -o-border-radius: 0.25em; border-radius: 0.25em; }
.products-grid .item .product-name { font-size: 0.875em; font-family: "Hand of Sean"; font-weight: normal; }
.products-grid.limited-rack .item { width: 33.3%; text-align: center; padding: 4em 0; position: relative; }
.products-grid.limited-rack .item a { color: #76837f; }
.products-grid.limited-rack .item img { max-width: 100%; width: auto; position: relative; z-index: -1; }
.products-grid.limited-rack .item:nth-child(4n+1) { clear: none; }
.products-grid.limited-rack .item:after { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: -1; background: url('../img/frame.png?1365885970') 50% 50% no-repeat; background-size: 100% 95%; margin: 0 1em; }
.products-grid.limited-rack .item .product-name { position: absolute; left: 0; right: 0; bottom: 5em; font-family: "Hand of Sean"; font-weight: normal; margin: 0 4em; }
.products-grid.limited-rack .item .price_box { position: absolute; left: 0; right: 0; bottom: 0.5em; }
.products-grid.limited-rack .item .qty { position: absolute; top: 3em; right: 14%; z-index: -1; background: url('../img/splatter2.png?1365885970') top right no-repeat; width: 66px; height: 72px; padding: 1.25em 0 1em 0.75em; font-family: "Hand of Sean"; font-size: 14px; font-size: 0.9rem; }

.product .gallery { float: left; width: 50%; padding-right: 2%; border-right: 1px dotted #ececec; }
.product .gallery .hero_image { padding: 0 0 1em 1em; float: right; width: 80%; }
.product .gallery .hero_image img { height: auto; width: 100%; display: block; }
.product .gallery .more_images { float: right; width: 20%; }
.product .gallery .more_images li { margin: 0 0 2%; }
.product .gallery .more_images li img { display: block; width: 100%; height: auto; padding: 0.25em; }
.product .info { float: right; width: 50%; padding-left: 2%; }
.product .info h2 { font-family: "Akzidenz Grotesk Ext", "Maven Pro", sans-serif; font-weight: normal; }
.product .info .details { margin-bottom: 2em; overflow: auto; }
.product .info .price_box { margin-right: 5em; text-align: center; display: inline-block; vertical-align: middle; }
.product .info .availability { display: inline-block; vertical-align: middle; display: none; }
.product .button { float: right; -webkit-transition: color 0.3s ease-in; -moz-transition: color 0.3s ease-in; -o-transition: color 0.3s ease-in; transition: color 0.3s ease-in; }
.product .related { clear: both; margin: 1em auto; border-top: 1px dotted #ececec; }

.options { margin: 0 0 3em; background: rgba(255, 51, 204, 0.2); padding: 1em; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; -ms-border-radius: 0.25em; -o-border-radius: 0.25em; border-radius: 0.25em; }

.product-options { float: left; }
.product-options dl { margin-bottom: 0.5em; }
.product-options dd { margin: 0; }
.product-options label { color: #7c441f; font-weight: 700; font-size: 1em; width: 35%; }
.product-options label em { margin: 0 0.25em; }
.product-options .input-box { margin: 0.25em 0; overflow: auto; }
.product-options .input-box dd { float: left; }
.product-options .required-notice { float: left; margin: 0; color: #bebebe; font-size: 0.75em; }
.product-options .label-radio-configurable { overflow: hidden; width: 50px; height: 42px; display: block; margin: 0 0.5em 0 0; position: relative; }

.short_description { font-size: 12px; }

.category-hot-styles .products-grid .product-name a { color: #ff33cc; }
.category-hot-styles .products-grid .price_box { display: none; }
.category-hot-styles .price { text-transform: uppercase; font-weight: 700; font-size: 13px; font-size: 0.825rem; }
.category-hot-styles .price:before { content: 'our '; }
.category-hot-styles .price.regular { text-transform: lowercase; color: #a6a6a6; font-size: 11px; font-size: 0.675rem; }
.category-hot-styles .price.regular:before { content: 'retail '; }
.category-hot-styles .price.special:before { content: 'our '; }
.category-hot-styles .product .gallery { width: 70%; border: none; }
.category-hot-styles .product .gallery .hero_image { width: 70%; padding: 5em; position: relative; }
.category-hot-styles .product .gallery .hero_image:after { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: -1; background: url('../img/frame.png?1365885970') 50% 50% no-repeat; background-size: 100% 95%; margin: 0 1em; }
.category-hot-styles .product .gallery .more_images { float: right; width: 30%; padding: 1em 2.5em; }
.category-hot-styles .product .gallery .more_images img { padding: 1em 2em; }
.category-hot-styles .product .info { float: left; width: 100%; }
.category-hot-styles .product .description { display: none; }
.category-hot-styles .product .related { float: right; width: 30%; margin: 0; clear: none; padding-left: 2%; border: none; text-align: center; }
.category-hot-styles .product .related img { width: 100%; }
.category-hot-styles .product .related .block-title { display: none; }
.category-hot-styles .product .related .block-subtitle { display: none; }
.category-hot-styles .product .related .mini-products-list .item { display: block; margin: 0 0 0.5em; position: relative; overflow: auto; 					                                                                       /* float: left; width: 33.3%; padding: 2.5%;

					&:nth-child(3n+1)	{ clear: both; } */ }
.category-hot-styles .product .related .mini-products-list .item .product-image { width: 24%; float: left; }
.category-hot-styles .product .related .mini-products-list .item .product-details { width: 60%; position: absolute; top: 0; bottom: 0; right: 0; }
.category-hot-styles .product .related .mini-products-list .item .product-name { position: absolute; left: 0; right: 0; bottom: 55%; margin: 0; font-size: 14px; font-size: 0.875rem; font-family: "Hand of Sean"; font-weight: normal; }
.category-hot-styles .product .related .mini-products-list .item .product-name a { color: #ff33cc; }
.category-hot-styles .product .related .mini-products-list .item .price_box { position: absolute; left: 0; right: 0; top: 55%; }
.category-hot-styles .product .related .price { display: block; }
.category-hot-styles .product .details { display: none; }
.category-hot-styles .product .options { display: none; }

.category-sale .products-grid .price.special { color: #ff33cc; }

.ss-radio { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #fed5f4 url('../img/size-button.png?1365885970') no-repeat; -webkit-transition: all 0.15s ease-in; -moz-transition: all 0.15s ease-in; -o-transition: all 0.15s ease-in; transition: all 0.15s ease-in; cursor: pointer; text-align: center; line-height: 42px; font-size: 16px; font-size: 1rem; }
.ss-radio.checked { background: white; }

.form-list { margin: 0 0 1em; }
.form-list input[type=radio] { margin-right: 1em; }

.addresses-list .item { width: 50%; float: left; }

.cart table td { vertical-align: middle; }
.cart .buttons { margin: 0; }

.customer-dob > div { float: left; padding: 0 0 0.5% 0.5%; }
.customer-dob .dob-month { width: 33.3%; padding-left: 0; }
.customer-dob .dob-day { width: 33.3%; }
.customer-dob .dob-year { width: 33.3%; }

.customer-name { margin: 0; }
.customer-name .field { float: left; padding: 0 0 0 0.5%; width: 50%; margin: 0; }
.customer-name .field:first-child { padding-left: 0; }

.checkout-types { margin-bottom: 1em; }

#checkoutSteps .section { border-bottom: 1px solid #ffe5f9; -webkit-transition: all 0.35s ease-in; -moz-transition: all 0.35s ease-in; -o-transition: all 0.35s ease-in; transition: all 0.35s ease-in; }
#checkoutSteps .section:first-child .step-title { -webkit-border-radius: 0.5em 0.5em 0 0; -moz-border-radius: 0.5em 0.5em 0 0; -ms-border-radius: 0.5em 0.5em 0 0; -o-border-radius: 0.5em 0.5em 0 0; border-radius: 0.5em 0.5em 0 0; }
#checkoutSteps .section:last-child .step-title { -webkit-border-radius: 0 0 0.5em 0.5em; -moz-border-radius: 0 0 0.5em 0.5em; -ms-border-radius: 0 0 0.5em 0.5em; -o-border-radius: 0 0 0.5em 0.5em; border-radius: 0 0 0.5em 0.5em; border-bottom: 0; }
#checkoutSteps .section .step-title { background: #ffe5f9; position: relative; overflow: hidden; }
#checkoutSteps .section .step-title .number { color: #c57f7f; font-size: 64px; font-size: 4rem; top: -50%; left: 0; position: absolute; line-height: 10rem; margin: 0 0.5em; -webkit-border-radius: 500px; -moz-border-radius: 500px; -ms-border-radius: 500px; -o-border-radius: 500px; border-radius: 500px; background: white; width: 192px; width: 12rem; height: 160px; height: 10rem; text-align: center; }
#checkoutSteps .section .step-title h2 { line-height: 3em; margin: 0 16px 0 320px; margin: 0 1rem 0 20rem; }
#checkoutSteps .section .step-title > a { position: absolute; right: 0.5em; bottom: 0.5em; color: white; }
#checkoutSteps .section .step { padding: 2em; position: relative; background: #fdf9f8; }
#checkoutSteps .section .step form { width: 100%; }
#checkoutSteps .section .step .fields { overflow: hidden; }
#checkoutSteps .section .step .fields .field { width: 50%; float: left; padding: 0 0 0.5% 0.5%; }
#checkoutSteps .section .step .fields .field:first-child { padding-left: 0; }
#checkoutSteps .section .step .wide { padding-bottom: 0.5em; }
#checkoutSteps .section .buttons-set { opacity: 1 !important; }
#checkoutSteps .section .please-wait { height: 0px; display: block; overflow: hidden; width: 0px; }
#checkoutSteps .section.allow .step-title { background: #ffb3ec; cursor: pointer; }
#checkoutSteps .section.active .step-title { background: #ff80df; }

.validation-advice { color: red; }

#totop { position: fixed; left: 1.5em; bottom: 8em; width: 4em; height: 4em; background: url('../img/totop.png?1365885970'); background-size: 100%; cursor: pointer; opacity: 0.9; border-radius: 50em; }
#totop:hover { opacity: 1; }
#totop:active { -webkit-box-shadow: 0 0 3em rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 3em rgba(0, 0, 0, 0.1) inset; box-shadow: 0 0 3em rgba(0, 0, 0, 0.1) inset; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }

.cms-home .content { text-align: center; }
.cms-home .content a { opacity: 1; display: inline-block; *zoom: 1; *display: inline; }
.cms-home .content a:hover { opacity: 0.9; }
